<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4>Add Pokemon</h4>
</div>
<div class="modal-body">
  <p>Pokemon Name</p>
  <input type="text" ng-model="newPokemon.name" placeholder="Enter a Pokemon name (Auto-Complete supported)" typeahead="pokemon as pokemon.name for pokemon in getPokemonByName($viewValue)" typeahead-loading="loadingLocations" typeahead-wait-ms="300" typeahead-template-url="/app/autocomplete_template.html" class="form-control">
  <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="addPokemon(pokemon)">Add Pokemon</button>
</div>