/*
Error: File to import not found or unreadable: bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.
       Load path: /Users/pascalraszyk/Projects/Teambrewery
        on line 4 of client/app/app.scss

1: $icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
2: $fa-font-path: "/bower_components/font-awesome/fonts";
3: 
4: @import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
5: @import 'font-awesome/scss/font-awesome';
6: @import '../assets/css/rotating-card';
7: @import './loader.scss';
8: @import "./scss/pokemon_table.scss";
9: @import './shapes.scss';

Backtrace:
client/app/app.scss:4
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/import_node.rb:45:in `import'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/Users/pascalraszyk/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/Users/pascalraszyk/.rvm/gems/ruby-2.1.5/bin/sass:23:in `load'
/Users/pascalraszyk/.rvm/gems/ruby-2.1.5/bin/sass:23:in `<main>'
/Users/pascalraszyk/.rvm/gems/ruby-2.1.5/bin/ruby_executable_hooks:15:in `eval'
/Users/pascalraszyk/.rvm/gems/ruby-2.1.5/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.\A        Load path: /Users/pascalraszyk/Projects/Teambrewery\A         on line 4 of client/app/app.scss\A \A 1: $icon-font-path: \"/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/\";\A 2: $fa-font-path: \"/bower_components/font-awesome/fonts\";\A 3: \A 4: @import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';\A 5: @import 'font-awesome/scss/font-awesome';\A 6: @import '../assets/css/rotating-card';\A 7: @import './loader.scss';\A 8: @import \"./scss/pokemon_table.scss\";\A 9: @import './shapes.scss';"; }
