<div class="footer">
  <div class="container">
    <div class="grid-3 grid-mobile-12 footer__column">
      <img class="monotone-logo" src="/assets/images/teambrewery-monotone.png" style="width:100%">
    </div>
    <div class="grid-3 grid-mobile-12  footer__column">
      <h4>More Stuff</h4>
      <ul>
        <li><a target="_blank" href="http://pokemonshowdown.com">Pokemon Showdown</a></li>
        <li><a target="_blank" href="https://pokemonshowdown.com/damagecalc/">Damage Calc</a></li>
        <li><a target="_blank" href="http://www.smogon.com/">Smogon.com</a></li>
      </ul>
    </div>
    <div class="grid-3 grid-mobile-12  footer__column">
      <h4>Social Media</h4>
      <ul>
        <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/ninetyfourJS">@ninetyfourJS</a></li>
        <li><i class="fa fa-github"></i> <a href="https://github.com/posixpascal/Teambrewery">GitHub</a></li>
      </ul>
    </div>
    <div class="grid-3 grid-mobile-12  footer__column">
      <h4>Contribute</h4>
      <ul>
        <li><a target="_blank" href="//github.com/posixpascal/Teambrewery">Source Code</a></li>
        <li><a href="/feedback">Feedback</a></li>
        <li><a href="/bugtracker">Bugtracker</a></li>
      </ul>
    </div>
  </div>
</div>