.header-bar {
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 40px;
	box-shadow: 0 0 3px #333;
	font-family: 'Courgette', 'Helvetica', sans-serif;
}

.field-bar {
	margin-top: 40px;
	background-color: #fff;
	padding: 30px;
	box-shadow: 0 2px 5px #999;
	b {
		display: block;
		margin-bottom: 10px;
	}

}