<div  ng-controller="NavbarController">
<div class="navbar">
  <div class="container">
    <div class="navbar__header grid-4">
      <a href="/" class="navbar__header__brand">
          <img src="/assets/images/logo.png" style="height: 42px;">
      </a>
    </div>
    <div class="navbar__nav grid-8">
      <ul class="navbar__nav__list">
        <li ng-repeat="item in menu" class="navbar__nav__list__item" ng-class="{'active': isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>