<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>TeamBrewery</h1>
    <p class="lead">Tasty pokemon teams at your fingertips</p>

  </div>
</header>

<div ng-controller="TeamCtrl">
    <ui-view>
    <div class="toolbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li>
                            <a ng-click="addPokemon()">
                                <i class="glyphicon glyphicon-plus" />
                                Add Pokemon
                            </a>
                        </li>
                    
                        <li>
                            <a ng-click="exportTeam()">
                                <i class="glyphicon glyphicon-export" />
                                Export Team
                            </a>
                        </li>
                    
                        <li>
                            <a ng-click="importTeam()">
                                <i class="glyphicon glyphicon-import" />
                                Import Team
                            </a>
                        </li>
                    
                        <li>
                            <a ng-click="randomizeTeam()">
                                <i class="glyphicon glyphicon-random" />
                                Randomize
                            </a>
                        </li>
                        
                        <li>
                            <a ng-click="saveTeam()">
                                <i class="glyphicon glyphicon-floppy-save" />
                                Save Team
                            </a>
                        </li>
                        
                        <li>
                            <a ng-click="clearTeam()">
                                <i class="glyphicon glyphicon-remove" />
                                Clear team
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
          <div>
            <pokemon-card ng-repeat="pokemon in team" pokemon="pokemon">
            </pokemon-card>
          </div>
      </div>
      <div ng-if="team.length > 0">
          <weakness-table />
          
      </div>
    </div>
    </ui-view>
</div>


<footer class="footer">
  <div class="container">
      <p>By <tt>pascal</tt> for Pokemon Showdown |
        <a href="https://twitter.com/ninetyfourJS">Follow me @ninetyfourJS</a> |
         <a href="https://github.com/posixpascal/TeamBreweryIO">SourceCode</a></p>
  </div>
</footer>

