$fa-font-path: "/bower_components/font-awesome/fonts";

@import "gridle/gridle";
@import "lib/normalize";
@import 'font-awesome/scss/font-awesome';

/** Import default settings. */
@import "settings/colors";
@import "settings/fonts";
@import "settings/grid";
@import "settings/settings";
@import "settings/theme";

@import "components/grid";
@import "components/navigation";
@import "components/footer";

a {
    color: $color-default;
    text-decoration: none;
    &:hover {
        color: $color-highlight;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $color-white;
}