<div class="col-md-4 col-sm-4">
    <div class="card-container">
        <div class="card">
            <div class="front">
                <div class="cover">

                </div>
                <div class="user">
                    <img ng-src="/assets/pokemon_sprites/{{pokemon.image}}"/>
                </div>
                <div class="content">
                    <div class="main">
                        <h3 class="name">{{pokemon.name}}</h3>
                        <p class="typing">
                            <pokemon-typing />
                        </p>
                        <hr />
                        <stat-distribution />
                    </div>
                    <div class="footer">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                           
                        </div>
                    </div>
                </div>
            </div> <!-- end front panel -->
            <div class="back">
                <div class="header">
                    <h5 class="motto">Details</h5>
                </div> 
                <div class="content">
                    <div class="main">
                        <table ng-if="!!pokemon.moveset" class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>{{pokemon.moveset[0]}}</td>
                                    <td>{{pokemon.moveset[1]}}</td>
                                </tr>
                                <tr>
                                    <td>{{pokemon.moveset[2]}}</td>
                                    <td>{{pokemon.moveset[3]}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            No moveset for {{pokemon.name}} yet.
                            <br/><br/>
                            <a ng-click="addMoveset()" class="btn btn-xs btn-primary">Add Moveset</a>
                        </div>
                        
                    </div>
                </div>
                <div class="footer">
                    <div class="social-links text-center">
                       <a ng-click="editPokemon()" class="btn btn-default btn-xs">Edit Pokemon</a>
                    </div>
                </div>
            </div> <!-- end back panel -->
        </div>
    </div>
</div>