.type {
    border-radius: 5px !important;
    padding: 5px;
    box-shadow: inset 1px 1px rgba(255,255,255,.8);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;

}


.water {
    background-color: #0074D9;
    color: #fff;
}

.fire {
    background-color: #ff4136;
    color: #fff;
}

.grass {
    background-color: #2ECC40;
    color: #fff;
}

.poison {
    background-color: #85144B;
    color: #fff;
}

.psychic {
    background-color: #f012be;
    color: #fff;
}

.flying {
    background-color: #7FDBFF;
    color: #fff;
}

.dark {
    color: #fff;
    background-color: #111111;
}

.normal {
    background-color: #dddddd;
    color: #333;
}

.rock {
    
}

.ground {
    
}

.bug {
    background-color: #3d9970;
    color: #fff;
}

.ghost {
    background-color: #b10dc9;
    color: #fff;
}

.steel {
    background-color: #aaa;
    color: #333;
}

.dragon {
    background-color: #001f3f;
}

.fairy {

}

.electric {
    background-color: #ffdc00;
}

.ice {
    
}

.fighting {
    
}
