.type {
    border-radius: 5px !important;
    padding: 5px;
    box-shadow: inset 1px 1px rgba(255,255,255,.8);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;

}

.type-table {
    tr td {
        vertical-align: middle;
    }
    img {
        height: 30px;
        max-width: 50px;
    }
}

.type-table {
    td {
        text-align: center;
    }
}

.water {
    color: #fff;
    background-color: #0074D9;
    
}

.fire {
    color: #fff;
    background-color: #ff4136;
    
}

.grass { 
    color: #fff;
    background-color: #2ECC40
}

.poison {
    color: #fff;
    background-color: #85144B;
}

.psychic {
    color: #fff;
    background-color: #f012be;

}

.flying {
    color: #333;
    background-color: #7FDBFF;

}

.dark {
    color: #fff;
    background-color: #111111;
}

.normal {
    color: #333;
    background-color: #dddddd;

}

.rock {
    background-color: #A7A37E;
    color: #fff;
}

.ground {
    background-color: #E6E2AF;
}

.bug {
    color: #fff;
    background-color: #3d9970;
    
}

.ghost {
    color: #fff;
    background-color: #b10dc9;
    
}

.steel {
    color: #333;
    background-color: #aaa;
    
}

.dragon {
    color: #fff;
    background-color: #001f3f;
    
}

.fairy {
    color: #fff;
    background-color: #FF6F69;
    
}

.electric {
    color: #333;
    background-color: #ffdc00;
}

.ice {
    background-color: #D8F2F0;
}

.fighting {
    color: #fff;
    background-color: #C44E18;

}
